name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

env:
  AWS_REGION: eu-central-1
  ECR_REPOSITORY: unraveldocs-api
  ECR_REGISTRY: 315084008680.dkr.ecr.eu-central-1.amazonaws.com/unraveldocs

jobs:
  deploy:
    name: Build, Push and Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          IMAGE_TAG: latest
        run: |
          docker build -t $ECR_REPOSITORY .
          docker tag $ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: Deploy to EC2 instance
        uses: appleboy/ssh-action@v1.0.3
        with:
            host: ${{ secrets.EC2_HOST }}
            username: ${{ secrets.EC2_USERNAME }}
            key: ${{ secrets.EC2_SSH_KEY }}
            script: |
              # The EC2 instance role will be used for AWS commands
              # Log in to ECR using the instance role
              aws ecr get-login-password --region ${{ env.AWS_REGION }} | docker login --username AWS --password-stdin ${{ env.ECR_REGISTRY }}
              
              # Pull the latest image from ECR
              docker pull ${{ steps.build-image.outputs.image }}
              
              # Execute the deployment script located in the EC2 user's home directory
              # Pass environment variables to the script
              export AWS_REGION=${{ env.AWS_REGION }}
              export ECR_REGISTRY=${{ env.ECR_REGISTRY }}
              export ECR_REPOSITORY=${{ env.ECR_REPOSITORY }}
              ./run.sh
